{% load static %}<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8' />
    <title>Global Laboratory Solutions</title>
    <link rel="stylesheet" href="{% static 'css/application.css' %}" type="text/css" />
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/application.js' %}"></script>
  </head>
  <body>
    <div id="header">
      <div id="header-bar">
        <div class="logo">
          <img src="{% static 'img/logo.png' %}" />
          <div class="logo-text-bottom">Keep exploring</div>
        </div>
        <div class="logo-text-right">
          Global Laboratory Techniques
        </div>
        <br class="clear" />
      </div>
      <div id="menu">
        <ul>
          <li><a href="{% url 'articles:field_index' %}">Fields</a></li>
          <li><a href="{% url 'articles:organ_system_index' %}">Organ systems</a></li>
          <li><a href="{% url 'articles:process_index' %}">Processes</a></li>
          <li><a href="{% url 'articles:scope_index' %}">Scopes</a></li>
          <li><a href="{% url 'articles:topic_index' %}">Topics</a></li>
          <li><a href="{% url 'hnodes:full-tree' %}">Node tree</a></li>
          <br class="clear" />
        </ul>
      </div>
    </div>
    <div id="body">
      {% block body %} CONTENT HERE {% endblock %}
    </div>
    <div id="footer">
      &#169; 2017
    </div>
  </body>
</html>

