body, div, p, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, table, th, td
{
  font-weight: normal;
  margin: 0px;
  padding: 0px;
}

body
{
  display: block;
  padding: 0px 8px;
}

form
{
  input[type=submit]
  {
    padding: 0px 2px;
  }
}

a
{
  font-weight: bold;
  text-decoration: none;

  &:hover
  {
    text-decoration: underline;
  }
}

ul
{
  list-style: none;
}

br.clear
{
  clear: both;
}

#header
{
  margin: 8px 0px;

  #header-bar
  {
    border-bottom: 1px solid #c0c0c0;
    padding-bottom: 8px;
    margin-bottom: 8px;
    
    div.logo
    {
      margin-right: 8px;

      img
      {
        width: 100px;
      }
    }
    
    div.logo, div.logo-text-right
    {
      float: left;
    }

    div.logo-text-right
    {
      font-size: 20px;
      width: 100px;
    }

    div.logo-text-bottom
    {
      font-style: italic;
    }
  }

  #menu
  {
    border-bottom: 1px solid #c0c0c0;
    padding-bottom: 8px;

    li
    {
      float: left;

      a
      {
        display: block;
        padding: 2px 4px;
      }
    }
  }
}

#body
{
  min-height: 200px;

  h2.page-title,
  div.page-content,
  div.page-actions
  {
    margin-bottom: 8px;
  }

  h2.page-title
  {
    font-weight: bold;
  }
}

#footer
{
  border-top: 1px solid #c0c0c0;
  padding-top: 8px;
  margin-top: 8px;
}

/* App hnode */
section.hnode
{
  div.page-content
  {
    max-width: 800px;

    div.full-path
    {
      div.node
      {
        border: 1px solid #c0c0c0;
        padding: 8px;
      }
    }

    div.child-node-box
    {
      border: 1px solid #c0c0c0;
      padding: 4px;

      div.child-node-box-item
      {
        display: inline-block;
        float: left;
        height: 64px;
        margin: 0px 4px 4px 0px;
        padding: 2px;
      }

      div.child-node-box-item.node
      {
        border: 1px solid #c0c0c0;
        min-width: 160px;
        max-width: 240px;
      }

      div.child-node-box-item.add-sibling
      {
        form
        {
          border: 1px solid #c0c0c0;
          padding: 4px;
        }
      }
    }

    div.down-arrow,
    div.node,
    form
    {
     text-align: center;
    }

    div.node
    {
      font-weight: bold;
    }
  }
}

