{% extends "outline.html" %}

{% block body %}
  <section class="hnode {{ hnode.getHTMLClass }}">
    <h2 class="page-title">{{ hnode.description }}</h2>
    <div class="page-content">
      <div class="full-path">
        {% for hn in hnode.getFullPath %}
          <div class="down-arrow" />
            <span>&#8595;</span>
          </div>
          <div class="node">
            {% if not forloop.last %}
              <a href="{% url 'hnodes:detail' hn.id 'todo' %}">{{ hn.description }}</a>
            {% else %}
              <span>{{ hn.description }}</span>
            {% endif %}
          </div>
        {% endfor %}
      </div>
      <div class="down-arrow" />
        <span>&#8595;</span>
      </div>
      <div class="child-nodes">
        {% if not hnode.isLeaf %}
          {% for hn in hnode.getAllChildren %}
            <div class="node">
              <a href="{% url 'hnodes:detail' hn.id 'todo' %}">{{ hn.description }}</a>
            </div>
          {% endfor %}
        {% endif %}
        <form action="{% url 'hnodes:insert-child' hnode.id 'todo' %}" method="post">
          {% csrf_token %}
          <input id="hnode_description" type="text" name="description" />
          <input type="submit" name="save" value="Add leaf node" />
        </form>
      </div>
    </div>
    <div class="page-actions">
      <a href="{% url 'hnodes:full-tree' %}">Back to full tree</a>
    </div>
  </section>
{% endblock %}

