{% extends "outline.html" %}

{% block body %}
  <section class="hnode {{ hnode.getHTMLClass }}">
    <h2 class="page-title">{{ hnode.description }}</h2>
    <div class="page-content">
      <div class="full-path">
        {% for hn in hnode.getFullPath %}
          <div class="down-arrow" />
            <span>&#8595;</span>
          </div>
          <div class="node">
            {% if not forloop.last %}
              <a href="{% url 'hnodes:detail' hn.id 'todo' %}">{{ hn.description }}</a>
            {% else %}
              <span>{{ hn.description }}</span>
            {% endif %}
          </div>
        {% endfor %}
      </div>
      <div class="down-arrow" />
        <span>&#8595;</span>
      </div>
      <div class="child-node-box">
        {% if not hnode.isLeaf %}
          {% for hn in hnode.getAllChildren %}
            <div class="child-node-box-item add-sibling">
              <form class="insert-sibling-node" action="{% url 'hnodes:insert-sibling-left' hn.id 'todo' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="description" />
                <input type="submit" name="save" value="+" />
              </form>
            </div>
            <div class="child-node-box-item node">
              <a href="{% url 'hnodes:detail' hn.id 'todo' %}">{{ hn.description }}</a>
              <form action="{% url 'hnodes:delete' hn.id 'todo' %}" method="post">
                {% csrf_token %}
                <input type="submit" name="delete" value="x" />
              </form>
            </div>
            {% if forloop.last %}
              <div class="child-node-box-item add-sibling">
                <form class="insert-sibling-node" action="{% url 'hnodes:insert-sibling-right' hn.id 'todo' %}" method="post">
                  {% csrf_token %}
                  <input type="hidden" name="description" />
                  <input type="submit" name="save" value="+" />
                </form>
              </div>
            {% endif %}
          {% endfor %}
          <br class="clear" />
          <label for"sibling-description">Sibling description</label>
          <input id="sibling-description" type="text" name="description" />
        {% else %}
          <form action="{% url 'hnodes:insert-child' hnode.id 'todo' %}" method="post">
            {% csrf_token %}
            <input type="text" name="description" />
            <input type="submit" name="save" value="Insert leaf node" />
          </form>
        {% endif %}
      </div>
    </div>
    <div class="page-actions">
      <a href="{% url 'hnodes:full-tree' %}">Back to full tree</a>
    </div>
  </section>
{% endblock %}

